.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.pulse-success2 {
    margin:50px;
    /* display: block; */
    width: 300px; 
    height: 200px; 
    border-radius: 10%;
    background: rgba(44, 204, 55, 0.323);
    box-shadow: 0 0 0 rgba(89, 204, 44, 0.4);
    animation: pulse-success2 2s forwards;
  }

.pulse-success1 {
    margin:50px;
    /* display: block; */
    width: 300px; 
    height: 200px; 
    border-radius: 10%;
    background: rgba(44, 204, 55, 0.323);
    box-shadow: 0 0 0 rgba(89, 204, 44, 0.4);
    animation: pulse-success1 2s forwards;
  }
  
  @-webkit-keyframes pulse-success1 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(0, 255, 0, 0.507);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:white;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:white;
    }
  }
  @keyframes pulse-success1 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(0, 255, 0, 0.507);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
        
    }
  }

  @-webkit-keyframes pulse-success2 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(0, 255, 0, 0.507);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:white;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:white;
    }
  }
  @keyframes pulse-success2 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(0, 255, 0, 0.507);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
        
    }
  }

  .pulse-error2 {
    margin:50px;
    /* display: block; */
    width: 300px; 
    height: 200px; 
    border-radius: 10%;
    background: rgba(44, 204, 55, 0.323);
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.507);
    animation: pulse-error2 2s forwards;
  }

.pulse-error1 {
    margin:50px;
    /* display: block; */
    width: 300px; 
    height: 200px; 
    border-radius: 10%;
    background: rgba(44, 204, 55, 0.323);
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.507);
    animation: pulse-error1 2s forwards;
  }
  
  @-webkit-keyframes pulse-error1 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(255, 0, 0, 0.507);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:white;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:white;
    }
  }
  @keyframes pulse-error1 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(255, 0, 0, 0.507);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
        
    }
  }

  @-webkit-keyframes pulse-error2 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(255, 0, 0, 0.507);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:white;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:white;
    }
  }
  @keyframes pulse-error2 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      background-color:rgba(255, 0, 0, 0.507);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        background-color:rgb(255, 255, 255);
        
    }
  }


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
